<div class="col-lg-12">
  <%= flash[:notice] %>
  <% if hr_signed_in? %>
    <div class="card mt-5 mb-3 rounded-0">
    <div class="card-body">
      <h2 class="text-center">Listing Employees</h2>
    </div>
  </div>

  <%= link_to "Create New Employee", new_employee_path , class:"btn btn-success
  btn-lg mb-3 rounded-0"%>

  <table class="table table-bordered table-header table-hover">
    <thead class="table-dark">
      <tr>
        <td>First Name</td>
        <td>Email</td>
        <td>Phone Number</td>
        <td>Address</td>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name%></td>
        <td><%= employee.email%></td>
        <td><%= employee.phone_num%></td>
        <td><%= employee.full_address%></td>
        <td>
          <%= link_to "Edit", edit_employee_path(employee) ,class: "btn
          btn-success mb-3 " %> <%= link_to "View", employee_path(employee),
          class: "btn btn-info mb-3 " %> <%= link_to "Delete",
          employee_path(employee) ,class: "btn btn-danger mb-3" , method:
          :delete, data: { Confirm: "Are you sure to delete this employee?" } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
    <%= render 'shared/links' %>
  <% end %>
  
</div>
